@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
:root{
    --background-color: #000;
    --background-color2: #222222ac;
    --primary-color:#E6533C;
    --font-color: #ffffff;
    --second-font-color: #a7a7a7ca;
    --font-color3: #d6d6d6ee;
    --bmi-input-color: #373737;
    --primary-font: Inter;
    --secondary-font: Miama;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--primary-font);
    list-style-type: none;
    color: var(--font-color);
    transition: .2s ease-in-out;
}

html{
    
    overflow-x: hidden;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    height: 100vh;
  
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
}
.header-logo{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: var(--primary-color);
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--second-font-color);
    border-radius: 50px;
    height: 40px;
    padding: 3px;
}
.nav-items li{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-items li a{
    font-size: 1.125rem;
    font-weight: 400;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
    border-radius: 50px;
    padding: 0px 20px;
}
.nav-items li:first-child{
    background-color: var(--primary-color);
    border-radius: 50px;
}
.nav-items li a:hover, .download-btn:hover{
    background-color: var(--primary-color);
  
}
.header{
    background: linear-gradient(180.00deg, #141414 1%, rgb(35, 35, 35),rgba(119, 119, 119, 0) 100%);
}
.banner{
    padding: 25px 10%;
    display: flex;
    align-items: center;
    
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 800;
    line-height: 80px;
    
}
.banner-title span{
    font-family: var(--secondary-font);
   font-weight: 400;
   font-size: 8rem;
   
}
.banner-desc{
    font-size: 1rem;
    color: var(--second-font-color);
}

.join-btn{
    font-size: 1.125rem;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 11px 30px;
    border: 1px solid transparent;
}
.download-btn{
    background-color: transparent;
    border: 1px solid var(--font-color);
}
.banner-btn-sec{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -15px;
}
.join-btn:hover{
    border: 1px solid var(--font-color);
}
.banner-left-side{

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.banner-right-side{
    
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.banner-img{
    width: 50%;
}
.banner-right-video{
    position: absolute;
    top: 25%;
    right: 15%;
    background: linear-gradient(135deg,rgba(255,255,255,0.1)
                  ,rgba(255,255,255,0));
     backdrop-filter: blur(10px);
    
     border: 1px solid rgba(255,255,255,0.18);
     box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
     border-radius: 12px;
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 15px 20px;
     gap: 10px;
}
.video-number{
    font-size: 2.5rem;
    font-weight: 800;
   margin-bottom: -10px;
}
.videos-title{
    font-size: 0.813rem;
    font-weight: 400;
    color: var(--second-font-color);
}
.banner-right-video-paly{
    position: absolute;
    bottom: 12%;
    right: 61%;
    background: linear-gradient(135deg,rgba(255,255,255,0.1)
                  ,rgba(255,255,255,0));
     backdrop-filter: blur(10px);
    
     border: 1px solid rgba(255,255,255,0.18);
     box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
     border-radius: 12px;
     display: flex;
     align-items: center;
     padding: 20px 20px;
     gap: 10px;
}
.video-number2{
    font-size: 1.5rem;
    font-weight: 800;
}
.video-play-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-play-icon i{
    margin-left: 3px;
}
.habits{
    padding: 25px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
   
}
.habits-title{
    font-size: 3rem;
    font-weight: 800;
}
.habits-decs{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--second-font-color);
}
.habit-cart{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 20%;
}
.habit-cart-title{
    font-size: 1.125rem;
    font-weight: 600;
}
.habit-cart-desc{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--second-font-color);
}
.habit-cart-img{
    border-radius: 50%;
    border: 4px solid var(--second-font-color);
    width: 70%;
    margin-bottom: 20px;
}
.habit-cart-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}
.run-con{
    padding: 25px 10%;
    margin-top: 40px;

    
}
.run{
    background-color: var(--background-color2);
    width: 80%;
    border-radius: 18px;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.run-left-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.run-title{
    font-size: 3rem;
    font-weight: 800;
}
.run-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    width: 60%;
    line-height: 20px;
    word-spacing: 1px;
 
}
.run-btn{
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--primary-color);
    border-radius: 50px;
    padding: 15px 70px;
    margin-top: 15px;
    border: 1px solid var(--primary-color);
}
.run-btn:hover{
    border: 1px solid var(--font-color);

}
.run-right-side{
    width: 40%;
    height: 300px;
    background: rebeccapurple;
    background-size: 300%;
    background-repeat: no-repeat;
    background-image: url("assets/run.jpg");
    background-position-x: 70%;
    background-position-y: 25%;
    border-radius: 18px;
    
}
.run-right-side img{
    width: 100%;
    border-radius: 18px;
}

.training{
    padding: 25px 18%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}
.training-title{
    font-size: 3rem;
    font-weight: 800;
}
.training-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    width: 50%;
    line-height: 20px;
    word-spacing: 1px;

}

.training-grid-con{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    
}
.img-box{
     width: 100%;
     height: 240px;
    display: flex;
    background: gray;
    padding: 20px;
    position: relative;
}

.box2{
    grid-column: span 2;
}

.box4{
    grid-column: span 2;
}
.img-box img{
    width: 100%;
}
.box1{
    background-image: url("assets/exercise1.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    background-color: rgb(127, 255, 212);
    background-blend-mode: multiply;
}
.box2{
    background-image: url("assets/exercise2.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 41, 41, 0.605);
    background-blend-mode: multiply;
}
.box3{
    background-image: url("assets/exercise3.png");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 20px;
    background-color: rgba(33, 38, 36, 0.541);
    background-blend-mode: multiply;
}
.box4{
    background-image: url("assets/exercise4.png");
    background-size: cover;
    background-position: top;
    width: 80%;
    border-bottom-left-radius: 20px;
    background-color: rgba(33, 38, 36, 0.541);
    background-blend-mode: multiply;
    
}
.box5{
    background-image: url("assets/exercise5.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -40%;
    width: 120%;
    background-color: rgb(173, 255, 86);
    background-blend-mode: multiply;

}
.box6{
    background-image: url("assets/exercise6.jpg");
    background-size: cover;
    background-position: center;
    width: 130%;
    margin-left: -30%;
    border-bottom-right-radius: 20px;
    background-color: rgba(127, 176, 255, 0.785);
    background-blend-mode: multiply;
}
.img-box h1{
    font-size: 0.875rem;
    font-weight: 500;
}
.box1 h1{
    position: absolute;
    bottom: 15px;
    color: var(--background-color);
}
.box3 h1{
    position: absolute;
    bottom: 15px;
    
}
.box5 h1{
    position: absolute;
    bottom: 15px;
    
}
.box6 h1{
    position: absolute;
    bottom: 15px;
    
}
.box4 h1{
    position: absolute;
    right: 15px;
    
}

.bmi-title{
    font-size: 3rem;
    font-weight: 800;
    margin: 0 auto;
}
.bmi-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    width: 50%;
    line-height: 20px;
    word-spacing: 1px;
}
.bmi-title-con{
    padding: 25px 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bmi-con{
    background-color: var(--background-color2);
    padding: 60px 18%;
    display: flex;
    align-items: start;
    justify-content: space-between;

}
.bmi-left-title{
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    text-align: left;
}
table th{
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #43434378;
    
}
table td{
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--font-color3);
    border: 1px solid #43434378;

}
table td, table th{
    padding: 12px 20px;
}
.bmi-left-side{
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.bmi-right-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    width: 80%;
    line-height: 20px;
    word-spacing: 1px;
    margin-top: -20px;
}
.bmi-Right-side{
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 20px;
    width: 60%;
}
.bmi-Right-side input{
    border: none;
    outline: none;
    width: calc(50% - 5px);
    border-radius: 8px;
    background-color: var(--bmi-input-color);
    padding: 14px 0px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color);
    text-indent: 15px;

}
.bmi-Right-side input::placeholder{
    color: var(--font-color3);
}
form{
   margin-top: 10px;
   height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap;
}
.gender-input{
    border: none;
    outline: none;
    width: calc(50% - 5px);
    border-radius: 8px;
    background-color: var(--bmi-input-color);
    padding: 14px 0px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color3);
    text-indent: 15px;
}
#activity-input{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("assets/down-arrow.png");
    background-size: 3%;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
  
}
#sex-input{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("assets/down-arrow.png");
    background-size: 6%;
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: center;
}
section option{
    padding: 10px 10px;
}
#calculator{
    background-color: var(--primary-color);
    border-radius: 50px;
    color: var(--font-color);
    width: max-content;
    padding: 12px 100px;
    text-indent: 0;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid var(--primary-color);

}
#calculator:hover{
    border: 1px solid var(--font-color);
}

.our-team{
    padding: 25px 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.team-title{
    font-size: 3rem;
    font-weight: 800;
    margin-top: 50px;
}
.team-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    line-height: 20px;
    word-spacing: 1px;
    width: 50%;
    text-align: center;
    margin-top: -20px;
}
.team-grid-con{
    width: 100%;
    background: var(--background-color2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 18px;
    border-radius: 18px;
    margin-top: 20px;
     
   
}
.team-img-box{
    width: 100%;
    border-radius: 18px;
    height: 300px;
    position: relative;
}
.team-img-box:nth-child(1){
    background: url("assets/trainer1.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
}
.team-img-box:nth-child(2){
    background: url("assets/trainer2.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
}
.team-img-box:nth-child(3){
    background: url("assets/trainer3.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
}
.team-img-box:nth-child(4){
    background: url("assets/trainer4.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
    background-position-x: 50%;
}
.team-img-box:nth-child(5){
    background: url("assets/trainer5.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
}
.team-img-box:nth-child(6){
    background: url("assets/trainer6.png");
    background-size: cover;
    background-color: #00000031;
    background-blend-mode: multiply;
}

.trainer-name{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 4px;
}
.tainer-sector{
    font-size: 0.875rem;
    color: var(--font-color3);
}
.trainer-names{
    position: absolute;
    bottom: 18px;
    left: 18px;
}
.footer{
    padding: 80px 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.footer-logo-title{
    font-size: 4.375rem;
    font-weight: 800;
    color: var(--primary-color);
    font-style: italic;
}
.footer-left-desc{
    font-size: 0.875rem;
    color: var(--second-font-color);
    line-height: 20px;
    word-spacing: 1px;
    width: 85%;
}
.footer-left{
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 10px;
    width: 40%;
}
.footer-right{
    display: flex;
  
    width: 40%;
    justify-content: space-between;
}
.foot-nav-left-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.foot-nav-left ul, .foot-nav-right ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.foot-nav-left ul li a, 
.foot-nav-right ul li a{
    font-size: 1.2rem;
    color: var(--font-color3);
}
.foot-nav-left ul li a:hover, 
.foot-nav-right ul li a:hover{
    color: var(--primary-color);
}
.foot-nav-right, .foot-nav-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer{
    background-color: var(--background-color2);
   
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bmi-input-color);
    padding-bottom: 70px;
}
.footer-last-desc{
    font-size: 1rem;
    color: var(--font-color3);
    font-weight: 400;
    margin-top: 50px;
}







/* kkkkkkk */
.my-plans{
    padding: 25px 18%;
}
.plans-title{
    font-size: 3rem;
    font-weight: 800;
}
.price-container{
    width: 100%;
    height: 400px;
    background-color: var(--background-color2);
    border-radius: 20px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
.price-container {
    position: relative;
  }
  .price-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(45deg,var(--font-color),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.price-value{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 8px;
}
.price-value span{
    color: var(--primary-color);
    font-size: .86rem;
    font-weight: 600;
}
.price-quality{
    font-size: 1.1rem;
    background-image: linear-gradient(to right bottom, var(--primary-color), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 700;
    margin-bottom: 5px;
}
.price-p{
    font-size: .8rem;
    color: var(--font-color);
    font-weight: 400;
    margin-bottom: 7px;
  
}
.price-cart ul li{
    font-size: .82rem;
    color: var(--font-color);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-cart li i{
    color: var(--font-color);
    font-weight: 800;
    font-size: .8rem;
}
.price-cart ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}
.price-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    cursor:default;
     border-radius: 20px;
     padding: 25px;
     position: relative;
     z-index: 100;
    
     
}

.price-cart:hover{
    transform: translateY(-50px);
    background: linear-gradient(to right bottom, var(--primary-color), var(--primary-color));
    padding: 40px 25px;
}
.price-cart:hover .price-value{
    color: var(--font-color);
} 
.price-cart:hover .price-value span{
    color: var(--font-color);
} 
.price-cart:hover .most-p-btn{
    top: 20px;
} 
.price-cart:hover .price-quality{
color: var(--font-color);
}
.price-cart:focus{
    background: #000;
}
.pick-btn{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color));
    padding: 10px 30px;
    border-radius: 50px;
    width: max-content;
    color: var(--background-color);
    font-size: .85rem;
    font-weight: 600;
    margin: 5px auto;
    
    
}

.most-p-btn{
    position: absolute;
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color));
    color: var(--background-color);
    border-radius: 50px;
    padding: 7px 10px;
    font-size: .7rem;
    font-weight: 600;
    top: 0px;
    border: 1px solid var(--font-color);
    
    right: 10px;
}

.price-container{
    margin-top: 80px;
}


.yearly-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.yearly-p{
    font-size: .85rem;
    color: var(--font-color3);
    font-weight: 400;
}
.YM-switch{
    height: 38px;
    width: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color2);
    margin-top: 50px;
    
}
.YM-switch a{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    font-weight: 400;
    
  
}
#Monthly-sw{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color));
    color: var(--background-color);
    font-weight: 600;
    border: 1px solid var(--font-color);

}












